odd_number
sort_number
leap_year
if_triangle
grades_sort
triangle_type
ch_type
meter_race
ticket_system
grade_rating
grade_rating2
switch_days
count_day
count_odd
print_star
print_letters
mul_table_9
armstrong_num
even_sum
while_even
gcd_lcm
while_armstrong
prime_numbers
print_until_3
array_max
array_num
array_reverse
bubble_sort
matrix_lower_triangle
find_matrix_max
